.App {
  text-align: center;
}
a{
  color: white;
}
body{
  /* background-color: #12db12; */
  /* background-color: #0b0b0b; */
  background: #143557;
background: linear-gradient(to top, #143557 0%, #101836 89%);

  color: white;
}
/* .background{
  background: #3AA7AB;
  background: radial-gradient(circle farthest-corner at center center, #3AA7AB 9%, #101836 89%);
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
